:root {
    --animate-delay: 0.25s;
  }
*{
    transition-property: all;
    transition-duration: 1s;
}

body{
    width: 100vw !important;
    height: 100vh !important;
}
.questions{
    font-size: 23px;
}
.text{
    font-size: 15px;
}

button{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: grey !important;
    overflow:  hidden !important;
}

.options{

}
.selectParent{
    position: relative;
    z-index: 10;

    .text{
        position: relative;
        z-index: 10;
    }

}
.select{
    position: absolute;
    left: 0px;
    background-color: hotpink;
    height: 100%;
    width: 0%;
  
}
.correct{
    background-color: green;
    width: 100%;
}
.wrong{
    background-color: red;
    width: 100%;
}

